body {
    padding: 20px;
    font-family: var(--vscode-font-family);
    background-color: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
    margin: 0;
}

p {
    margin: 0;
}

B1 {
    font-weight: 500;
    font-size: 13px;
}


.container {
    max-width: 100%;
}