body {
    padding: 20px;
    font-family: var(--vscode-font-family);
    background-color: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
    margin: 0;
}

.btn {
    width: fit-content;
    margin-left: 6px;
    margin-right: 6px;
}

.text-field {
    margin-bottom: 8px;
}

.container {
    max-width: 100%;
}

vscode-button {
    width: 100%;
    margin-bottom: 10px;
}